@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Montserrat:wght@700;800&family=Oswald:wght@600;700&family=Press+Start+2P&family=Space+Mono:wght@400;700&display=swap');


html {
	scroll-behavior: smooth;
}

body {
	font-family: "space mono", sans-serif;
	color: #afafaf;
	background-color: #1e1f2c;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	max-width:1200px;
	margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}


body.nav-fixed {
  overflow: hidden;
}

main.nav-fixed {
  padding-top: 160px;
}

nav.nav-fixed {
  position: fixed;
  top: 0;
}

main {
	padding-top: 30px;
  display: scroll;
}



nav {
	display: flex;
	position: fixed;
	align-items: center;
	width: 100%;
  background-color: #1e1f2c;
  z-index: 100;
  height: 40px;
}


.nav-items {
	display: flex;
	list-style-type: none;
	padding: 30px;
	padding-right: 90px;
	align-items: center;
	margin: 0;
	margin-left: auto;
}

.nav-item {
	margin: 10px;
	padding-right: 20px;
}

.nav-item a {
	margin: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: #C33C71;
}

header {
  margin-top: 20px;
}

#logo {
	padding-left: 30px;
}

#logo p {
	font-size: 40px;
	color: #C33C71;
}

h2 {
	font-family: "Oswald", sans-serif;
	margin-bottom: 0;
	font-size: 30px;

}


#about-me {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-left: 80px;
	min-width: 100%;

}


#about1 {
	padding: 15px;
	padding-top: 0px;
	color: #C33C71;
	letter-spacing: 5px;
	padding-left: 100px;
	cursor: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/PNG_Test.png/953px-PNG_Test.png?20230921085344"), auto;
	text-transform: uppercase;
	transition: 0.5s;
  margin-top: 50px;
}

#about1:hover {
	color: #3CC38E;
	text-shadow: 0 0 5px #5d4897,
		0 0 25px #2a282a,
		0 0 50px #bb5e18,
		0 0 100px #2615bc;
	cursor: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/PNG_Test.png/953px-PNG_Test.png?20230921085344"), auto;
}

#about-text {
	padding-left: 25px;
	flex: 1;
}

aside {
  flex: 0 0 400px;
  text-align: center;
  margin-left: 0px;
}

aside img {
  max-width: 100%;
  height: auto;
  margin-left: auto; /* Center the image horizontally */
  margin-right: auto;
  display: block; /* Ensures that the image doesn't have extra space underneath */
  border-radius: 10px;
  margin-top: 20px; /* Add some top margin as needed */
}


#about-text p {
	cursor: url('https://cdn.custom-cursor.com/db/13602/32/bfdi-eraser-cursor.png'), auto;
}

footer ul {
	display: flex;
	flex-direction: row;
	width: 100%;

}

footer li {
	list-style-type: none;
	margin: 0px;
	text-decoration: none;
	color: #3CC38E;
	width: 100%;
}

.hidden-text {
	opacity: 0;
	transition: opacity 0.3s;
}

p:hover .hidden-text {
	opacity: 1;
}

a button {
	background-color: #3CC38E;
	color: #000000;
    font-size: 20px;
    font-weight: 700;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	margin-left: 100px;
	margin-top: 20px;
}

a button:hover {
	background-color: #e738be;
    color: #3CC38E;
}

#mapContainer {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#wellingtonImage {
	width: 60%;
	height: auto;
	margin: 100px;
	padding: 30px;
}


#projectsLink .hover-image {
    display: none;
  }
  
  #projectsLink a:hover .hover-image {
    display: inline-block; /* or block, depending on your layout */
    height: 50px;
  }
  
  #projectsLink a:hover .link-text {
    display: none;
  }

footer {

  color: #fff;
  padding: 20px; }

footer ul {
  list-style: none; 
  
}

footer a {
  color: #fff;
  text-decoration: none; 
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Style for the tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #e738be;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}